body{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly; 
    gap: 20px;
    align-items: center;
    margin-top: 150px;
    background-color: rgb(7, 105, 143);
}
h2{
    width: 600px;
    text-align: center;
}
ul{
    font-weight: bold;
    margin-left: -130px;
    padding: 20px;
    width: 150px;
    height:244px;
    border: black solid 2px;

}
li{
    font-weight: 500;
    margin-top: 15px;
    margin-left: 20px
}
.allCalcContent{
    width: 7430px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.calcContainer{
    width:325px;
    height: 230px;
    border:solid gray 7px;
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 45, 49);
    font-size: x-large;
    font-weight: bold;
   
}
button:hover{
    opacity: 0.5;
}

.output{
    margin:40px;
    height:60px;
    text-align: right;
    overflow: auto;
    
}
.row1, .row2, .row3, .row4, .row5{
    display:flex;
    
}
.backspace, .clear{
    background-color: rgb(250, 112, 112);
}
.append{
    background-color: rgb(134, 134, 253);
}
button{
    width:60px;
    height:35px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.leftCol, .rightCol{
    display:flex;
   
    
}
.leftCol button, .rightCol button{
    background-color: rgb(236, 236, 90);
}

.operatorContainer{
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    display:flex;
    justify-content: space-between;
    margin:10px;
}
.backspace, .equal{
    width:120px;
}
.equal{
    background-color: green;
}

.output{
    border:1px solid black;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(190, 190, 190);

}